@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');

@media (max-width: 550px) {
	.header_logo {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
   min-height: 100vh;
	background: linear-gradient(50deg, black, #1E1328, #372248);
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: greenyellow;
}

h1 {
	font-family: 'Flavors', sans-serif;
	font-size: 50px;
	text-align: center;
	color: white;
	font-weight: lighter;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
	padding: 0 10px;
}

h2 {
	font-family: 'Istok Web', sans-serif;
	letter-spacing: 1px;
	font-weight: 100;
	color: white;
	font-size: 1.45rem;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
}

.header_logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.img-logo {
	max-width: 200px;
}

.opensea {
	height: 50px;
	border: 1px solid rgb(189, 185, 185);	
}

.opensea:hover {
	border: 1px solid rgb(189, 185, 185);		
}

.img-logo:hover {
	transform: scale(1.05);
}

.facebook {
	padding-top: 15px;
}

h1, .album__author, .album__desc {
	font-family: 'Nunito', sans-serif;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
	padding: 15px 10px 0 20px;
}

.albums {
	margin: 20px 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 20px;
}

.album {
	background: rgba(200, 200, 200, 0.1);
	border: 1px solid rgba(200, 200, 200, 0.1);
	box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.87);
	padding: 10px;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 10px;
	align-items: center;
	color: white;
	transition: all 0.5s;
	border-radius: 15px;
}

.album:hover {
	transform: scale(1.05);
	background: rgba(200, 200, 200, 0.3);
}

.album__author {
	color: #B6AEBC;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
}

.album__desc {
	font-size: .8rem;
}

.album__artwork {
	width: 100%;
}

img {
	border-radius: 8px;
}

.footer {
	color: white;
	text-align: center;
	padding-bottom: 10px;
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;
}

#btnUp {
	display: inline-block;
	position: fixed;    
	background: #FF9800;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 10px;
	bottom: 10px;
	right: 10px;
	margin: 10px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
 }

 #btnUp::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 3em;
	line-height: 50px;
	color: #fff;
 }

 #btnUp:hover {
	cursor: pointer;
	background-color: #333;
 }

 #btnUp:active {
	background-color: #555;
 }
 
 #btnUp.show {
	opacity: 1;
	visibility: visible;
 }